#container{
    text-align: center;
    border: 3px blueviolet solid;
    margin:auto 25% ;
    background-image: url(image.jpg);
    color: aliceblue;

}
button{
    background-color: black;
    color: darkseagreen;
}
button:hover{
    background-color: darkslategray;
    color: aliceblue;
}
button:active{
    background-color: cornflowerblue;
    color: antiquewhite;
}
button:visited{
    background-color: blue;
    color: wheat;
}